# --- Environnements virtuels ---
env/
venv/
ENV/
*.env

# -
-- Fichiers Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Logs et fichiers générés ---
*.log
import_log.txt
erreurs_import.xlsx
rapport_import.txt

# --- Rapports ---
rapport_import/
erreurs_import/


# --- Archives et paquets ---
*.tar.gz
*.zip
*.rar

# --- Fichiers temporaires ---
*.tmp
*.temp

# --- Images inutiles (si API seulement) ---
logo_cs_nst.png

# --- Base de données (optionnel) ---
# thz.db
# (Décommente si tu veux ignorer la DB)

# --- Fichiers YAML incorrects ---
render.yaml.txt

# --- Système ---
.DS_Store
Thumbs.db
thz.db
rapport_import.pdf

temp/
# ===============================
# FICHIERS TEMPORAIRES EXCEL
# ===============================
~$*.xlsx
~$*.xls
