body{

margin:0;
font-family:"Bookman Old Style";

background:linear-gradient(135deg,#1e3c72,#2a5298);

color:white;
}


/* HEADER */

.header{

display:flex;
align-items:center;
justify-content:space-between;

padding:25px 60px;

box-shadow:0 6px 18px rgba(0,0,0,.35);
}

.logo{
height:55px;
}

.title{

font-size:42px;
letter-spacing:3px;
text-shadow:0 6px 14px rgba(0,0,0,.6);
}


/* CLOCK */

.clock{

position:absolute;
right:60px;
top:110px;

background:rgba(255,255,255,.15);
backdrop-filter:blur(10px);

padding:12px 25px;
border-radius:10px;
}


/* LINES */

.separator{
position:relative;
margin:25px 60px;
}

.blue-line{
height:6px;
background:#1565c0;
}

.red-line{
height:6px;
background:#c62828;
}

.security-msg{

position:absolute;
left:50%;
transform:translateX(-50%);
top:-14px;

background:white;
color:#0d47a1;

padding:6px 30px;

border-radius:8px;
font-weight:bold;
}


/* LOGIN */

.login-card{

width:420px;
margin:90px auto;

background:rgba(255,255,255,.1);

padding:40px;

border-radius:18px;

backdrop-filter:blur(14px);

text-align:center;
}

input{

width:100%;
padding:14px;

border:none;
border-radius:8px;
margin-bottom:15px;
}

.btn-login{

width:100%;
padding:14px;

border:none;
border-radius:10px;

background:#1565c0;

color:white;
font-size:18px;
cursor:pointer;
}


/* DOTS */

.dot-container{
display:flex;
justify-content:center;
gap:12px;
margin-bottom:20px;
}

.dot{

width:14px;
height:14px;
background:#bbb;
border-radius:50%;
transition:.3s;
}

.dot.active{
background:#00e5ff;
box-shadow:0 0 10px #00e5ff;
}


/* FOOTER */

.footer{

display:flex;
justify-content:space-between;

background:#0d47a1;

padding:25px;
margin-top:120px;
}

.footer-right{
background:white;
color:#333;
padding:15px;
border-radius:10px;
width:55%;
}

.bottom-bar{
background:black;
text-align:center;
padding:10px;
}
