<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<main style="max-width:400px;margin:60px auto;">
    <h2 style="text-align:center;">Connexion sécurisée</h2>

    {% if error %}
        <p style="color:red;text-align:center;">{{ error }}</p>
    {% endif %}

    <form method="post">
        <label>Mot de passe :</label><br>
        <input type="password" name="password" required style="width:100%;padding:6px;">
        <br><br>
        <button type="submit" style="width:100%;">Se connecter</button>
    </form>
	<div class="login-retour">
    <a href="/admin1/panel" class="btn-retour"> ⬅ Retour</a>
</div>

</main>

</body>
</html>
