{% extends "base.html" %}

{% block title %}Solde journalier{% endblock %}

{% block content %}

    <h1>Solde journalier</h1>
	<form method="get" style="margin-bottom:20px;">
    <label>
        Année scolaire :
        <input type="text" name="annee_scolaire" value="{{ annee or '' }}">
    </label>

    <label style="margin-left:15px;">
        Du :
        <input type="date" name="date_debut" value="{{ date_debut or '' }}">
    </label>

    <label style="margin-left:15px;">
        Au :
        <input type="date" name="date_fin" value="{{ date_fin or '' }}">
    </label>

    <button type="submit">Filtrer</button>
    </form>


    <table border="1" cellpadding="6">
        <tr>
            <th>Date</th>
            <th>Solde</th>
        </tr>

        {% for r in rows %}
        <tr>
            <td>{{ r.date_operation }}</td>
            <td>
                {% if r.solde < 0 %}
                    <span class="solde-negatif">{{ "%.2f"|format(r.solde) }}</span>
                {% else %}
                    {{ "%.2f"|format(r.solde) }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

